<nav class="nav">
  <ul class="nav__list">
    <% @categories.each do |category| %>
      <li class="nav__item">
        <%= link_to category.name, new_lot_path %>
      </li>
    <% end %>
  </ul>
</nav>
