<nav class="nav">
  <ul class="nav__list container">
    <% @categories.each do |category| %>
      <li class="nav__item">
        <a href="all-lots.html"><%= category.name %></a>
      </li>
    <% end %>
  </ul>
</nav>
